@model IEnumerable<FlexWebAPI.Models.Activity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityBookStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityBookEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivitySalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityOriginalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fk_ActivityCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fk_ActivityStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fk_Speaker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityBookStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityBookEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivitySalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityOriginalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fk_ActivityCategory.ActivityCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fk_ActivityStatus.ActivityStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fk_Speaker.SpeakerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActivityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActivityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActivityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
